<%# Error state for AI suggestions %>
<div id="<%= property_name %>_suggestions" class="flex items-start gap-3 p-4 bg-red-50 rounded-lg">
  <svg class="h-5 w-5 text-red-600 mt-0.5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <div>
    <p class="font-medium text-red-900">Unable to generate suggestions</p>
    <p class="text-sm text-red-700"><%= error %></p>
  </div>
</div>
